/shop_back_v1/
/cp-react/
/HTML/
/shop_back/app/
/shop_back/dist/*.local
/client-react/
/client-next/app/
/docker-resources/elasticsearch/data/*

.DS_Store
.idea
.vscode
/**/vendor/
/**/node_modules/
/db/**/

!.gitkeep
